<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my django templates demo.</h1>
    <form action="#">
        
        {% csrf_token %}
        
        <p><input type="text" name = "first_name" placeholder="Enter First name"></p>
        {{form.as_p}}

        <!-- 
            get - > url
            post - > form body
            if limited parameter and non - sensitive data -> we use get request otherwose we use post request
            sensitive data -> email , password, visa/debit card info
         -->
        <input type="submit" value = "REGISTER">
    </form>
</body>
</html>